*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

Idle/target/
Idle/drivers/
Idle-demo/target/
Idle-demo/src/main/webapp/META-INF/
Idle-demo/src/main/webapp/VAADIN/themes/demo/styles.css

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
Idle/frontend/generated
Idle/frontend
Idle/vite.generated.ts
Idle/vite.config.ts
Idle/tsconfig.json
Idle/types.d.ts
Idle/package.json
Idle-demo/package.json
Idle-demo/tsconfig.json
Idle-demo/types.d.ts
Idle-demo/vite.config.ts
Idle-demo/vite.generated.ts
Idle-demo/frontend/generated
Idle-demo/frontend/index.html
