*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

addon/target/
addon/drivers/
demo-app/target/
demo-app/src/main/webapp/META-INF/
demo-app/src/main/webapp/VAADIN/themes/demo/styles.css

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
addon/frontend/generated
addon/frontend
addon/vite.generated.ts
addon/vite.config.ts
addon/tsconfig.json
addon/types.d.ts
addon/package.json
demo-app/package.json
demo-app/tsconfig.json
demo-app/types.d.ts
demo-app/vite.config.ts
demo-app/vite.generated.ts
demo-app/frontend/generated
demo-app/frontend/index.html
frontend/generated
frontend/index.html
